# Ignore ...
#  ... possibly generated local files/directories
**/src/doc-version-info-automatically-generated.md
book

# ... possibly generated/"printed" PDF files
**/*.pdf

# ... my (rpi-simonz) local/private file with ssh-handling infos
.private-conf.sh

# ... vim editor files
Session.vim
**/*.swp
